section {
  height: auto;
  background: white;

  &:nth-child(odd) {
    background: #fbfbfb;
  }

  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  padding: 100px 15%;
  text-align: left;
  // overflow-x: hidden;

  @media screen and (max-width: 1000px) {
    padding: 80px 24px;
  }

  transition: 0.5s ease;
}
