* {
  box-sizing: border-box
}

body {
  font-family: sans-serif;
  // height: 1700px;
  margin: 0;
  padding-bottom: 100px;

  font-family: 'Work Sans', sans-serif;
  // font-family: 'Montserrat', sans-serif;
  // font-family: 'Poppins', sans-serif;
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.modal-container {
  position: fixed;
  z-index: 9999999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  min-width: 350px;
  box-shadow: 1px 1px 23px rgba(0, 0, 0, .5)
}

h2 {
  font-family: Montserrat;
  font-size: 45px;
  letter-spacing: .5px;
  margin: 0;
  margin-bottom: 7px;
}

p {
  max-width: 500px;
  font-size: 18px;
  line-height: 1.4;
  margin: 0px 0 20px;
  letter-spacing: .6px;
  font-weight: 300;
  color: #656565;
}

a {
  &.primary-button {
    text-decoration: none;
    background: #4b4bff;
    color: white;
    border-radius: 6px;
    padding: 12px 25px;
    font-size: 14px;
    box-shadow: 1px 1px 8px 2px #5252ff6e;
    display: inline-block;
    margin-right: 25px;
    font-family: Montserrat;
    letter-spacing: 1.25px;
  }
  
  &.secondary-button.transparent {
    text-decoration: none;
    color: black;
    font-family: montserrat;
    font-size: 14px;
    letter-spacing: 1.25px;
  }

  &:hover {
    cursor: pointer;
  }
}

:focus {
    // outline: 2px solid black;
    // box-shadow: 1px 1px 7px 4px #0000005c;
}

.align-items-center {
  display: flex;
  align-items: center;
}