.item {
  background: purple;
  padding: 20px;
  width: 100%;
  position: absolute;
}

.slider-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  position: relative;
  transition: .5s ease;
  // max-width: 1200px;
  // margin: auto;
}

#slider-controller {
  flex-wrap: nowrap
}